asgiref==3.5.2
Babel==2.10.3
backports.zoneinfo==0.2.1
confusable-homoglyphs==3.2.0
Django==3.2
django-phonenumber-field==3.0.1
django-phonenumbers==1.0.1
django-registration==3.3
phonenumbers==8.12.56
Pillow==9.2.0
pytz==2022.4
sqlparse==0.4.3
